<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="https://drive.google.com/uc?export=view&id=0B382sh-THM-ObWpBOVVwbFVibmM" width="40" height="40" class="d-inline-block align-middle" alt="">
           Unify
        </a>
      </nav>
      
      <div class="login">
        
        <h1 style="margin-top:100px">Lorem ipsum dolor sit</h1>
        <h5 style="margin-top:30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
        
        <a href="information"><img src="https://drive.google.com/uc?export=view&id=1_POCd_8B9QE45_JrRlYqhLa4Yp3ntUX0" class="facebook"></a>
      
        <p style="margin-top:20px">Already joined the Unify community? <a href="#"> Log in.</a></p>
        
        <p style="margin-top:10px">Try Unify for free with as many users as you'd like, for as long as you'd like.</p>

      </div>
    
    </div>
    
    <div class="col-md-6 text-center right">
      <h2></h2>
    </div>
  </div>
</div>