<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="#">
          <img src="https://drive.google.com/uc?export=view&id=0B382sh-THM-ObWpBOVVwbFVibmM" width="40" height="40" class="d-inline-block align-middle" alt="">
           Homie
        </a>
      </nav>
      
      <div class="login">
        
        <h1 style="margin-top:100px">Lorem ipsum dolor sit</h1>
        <h5 style="margin-top:30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
        
        <div class="email">
          <form class="form-inline">
            <div class="form-group mx-sm-3">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary"><%= link_to "Get Started", chat_path, class: 'link' %></button>
          </form>
        </div>
      
        <p style="margin-top:20px">Already one of the Homies? <a href="#"> Log in.</a></p>
        
        <p style="margin-top:10px">Try Homie for free with as many users as you'd like, for as long as you'd like.</p>
      
      </div>
     
    </div>
    
    <div class="col-md-6 text-center right">
      <h2></h2>
    </div>
  </div>
</div>