<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img class="" src="https://drive.google.com/uc?export=view&id=0B382sh-THM-ObWpBOVVwbFVibmM" alt="Jack McMillan">
      <h2>Homie</h2>
    </div>
    <div class="col-md-6 text-center">
      <h2>Chat</h2>
    </div>
  </div>
</div>