<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 messages">
      <p class="city">Edinburgh Uni</p>
      <p style="margin-top:-15px">Jack</p>
      <p style="margin-top:80px">Channels</p>
      <p class="activeChat"># International Business</p>
      <p style="margin-top:-15px"># Brae House</p>
    </div>
    <div class="col-md-10">
    </div>
  </div>
</div>