<div class="container-fluid text-center edinburgh">
  <p class="middle">University of Edinburgh</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 messages">
    </div>
    <div class="col-md-10">
    </div>
  </div>
</div>